* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#main {
  height: 100%;
  width: 100vw;
  background-color: rgb(69, 69, 255);
  padding: 15vh;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#weather-api {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
}

body {
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
  /* background-color: cornflowerblue; */
  /* border-radius: 15px; */
  /* padding: 3vh; */
}

#top {
  height: 50vh;
  background-color: cornflowerblue;
  border-radius: 15px 15px 0 0;
  padding: 3vh;
  display: flex;
  justify-content: space-between;
}

#left,
#mid,
#right {
  flex: 1;
}

#left-bot {
  margin-top: 75px;
}

.search {
  background: none;
  border: 3px solid transparent;
  outline: none;
  color: white;
  width: 75%;
  padding: 1vh;
  font-size: clamp(1rem, 10vw, 2rem);
}

#search {
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 10;
}

::placeholder {
  color: white;
}

.border {
  border: 3px solid white;
  border-radius: 15px;
  caret-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  /* background-color: #2196f3; */
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#bottom {
  height: 25vh;
  width: 100%;
  background-color: rgba(100, 149, 237, 0.6);
  border-radius: 0 0 15px 15px;
  overflow-x: auto;
  /* padding: 0 1vw 0 1vw; */
  /* overflow-y: hidden !important; */
  /* transform: skew(-25deg); */
}

#bottom::-webkit-scrollbar {
  background: none;
}

#bottom::-webkit-scrollbar-thumb {
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 0 0 15px 15px;
}

#bottom-cont {
  width: max-content;
  height: 100%;
  display: flex;
}

#results {
  width: 75%;
  /* padding: 0 ; */
  margin-top: -1vh;
}

#results > p {
  padding: 0 1vh;
  cursor: pointer;
}

#results > p:hover,
.active {
  background-color: rgba(200, 200, 200, 1);
}

.not-active {
  background-color: rgba(200, 200, 200, 0.6);
}

.active {
  background-color: rgba(200, 200, 200, 1);
}

.hourly {
  transform: skew(-20deg);
  border-right: 1px solid blue;
  color: white;
  font-style: italic;
  font-weight: 900;
  width: 10vw;
  min-width: min-content;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.hourly:last-of-type {
  border-right: none;
}

.hourly p,
.hourly img {
  transform: skew(20deg);
}

.country {
  color: white;
  margin-left: 50px;
}
